# 독립성 검정

--------------

* 독립 기준 <br>
$H_0$: 두 집단은 서로 독립이다. <br>
$H_1$: 두 집단은 서로 독립이 아니다. <br>
<br>
* 연관 기준 <br>
$H_0$: 두 집단은 서로 연관이 없다. <br>
$H_1$: 두 집단은 서로 연관이 있다. 

---------------

독립성 검정은 카이제곱(Chisq) 검정을 실시하며 scipy모듈을 활용할 수 있다.

In [10]:
from scipy.stats import chi2_contingency

해당 모듈의 함수를 사용하기 위해서는 데이터를 table형태(contingency table)의 가공이 선행되어야 한다.<br>
table형태로의 가공을 위해 pandas의 crosstab() 함수를 사용하는 것을 권장한다.

chi2_contingency() 함수의 결과는 다음의 순서로 제공된다.

1. chi2(float): The test statistic.
2. p-value(float): The p-value of the test
3. df(int): Degrees of freedom
4. expected(ndarray): The expected frequencies, based on the marginal sums of the table.

## traffic_accident.txt 파일을 "\t" 구분자 기반으로 다음 문제를 풀이하시오.

In [6]:
import pandas as pd

df = pd.read_csv("../edu_SDS_python_2020/traffic_accident.txt", sep="\t")
df

       seq sex serious_yn  age
0        1   M          N    3
1        2   M          N    6
2        3   M          N    4
3        4   M          N    4
4        5   F          N    3
...    ...  ..        ...  ...
1062  1063   F          N    6
1063  1064   M          N    4
1064  1065   M          N    6
1065  1066   F          N    6
1066  1067   F          N    3

[1067 rows x 4 columns]

#### [문제 1] 교통사고 심각도(serious_yn)여부가 성별(sex)과 관계가 있는지 알아보시오.
(단, 독립성 검정 함수에서 correction = False 로 설정한다.)

In [19]:
cross_tab = pd.crosstab(df["serious_yn"], df["sex"])
cross_tab
chi2_contingency(pd.crosstab(df["serious_yn"], df["sex"]), correction = False)

(4.248074934656112,
 0.03929484927552679,
 1,
 array([[286.99343955, 679.00656045],
        [ 30.00656045,  70.99343955]]))

#### [문제 2] 교통사고 심각도(serious_yn)여부가 나이(age)와 관계가 있는지 알아보시오.

In [18]:
chi2_contingency(pd.crosstab(df["serious_yn"], df["age"]), correction = False)

(9.410466679276956,
 0.051619825959927854,
 4,
 array([[193.74320525, 199.17525773, 209.13402062, 186.5004686 ,
         177.4470478 ],
        [ 20.25679475,  20.82474227,  21.86597938,  19.4995314 ,
          18.5529522 ]]))