# 다음 문제를 풀이하시오

### Q1. Pandas, Scipy의 stats 모듈을 불러오시오.

In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

### Q2. "class_scores.csv" 파일을 불러와서 df 객체에 저장하시오.

In [3]:
df = pd.read_csv("../data/class_scores.csv")
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Stu_ID     600 non-null    int64
 1   grade      600 non-null    int64
 2   class      600 non-null    object
 3   gender     600 non-null    object
 4   Math       600 non-null    int64
 5   English    600 non-null    int64
 6   Science    600 non-null    int64
 7   Marketing  600 non-null    int64
 8   Writing    600 non-null    int64
dtypes: int64(7), object(2)
memory usage: 42.3+ KB

   Stu_ID  grade class gender  Math  English  Science  Marketing  Writing
0   10101      1     A      M    55       84       50         40       59
1   10102      1     A      M    29       94       41         87       57
2   10103      1     A      F    28       80       68         41      100
3   10104      1     A      F    45       74       48         88       75
4   10105      1     A      F    28       69       57         91       66

### Q3. 성별에 따른 수학 점수의 차이를 확인하기 위해 독립 2표본 t검정을 실시하고 그 결과를 확인하시오.

In [13]:
df_male = df.loc[df["gender"] == "M", :]
df_female = df.loc[df["gender"] == "F", :]
stats.ttest_ind(df_male.loc[:,"Math"], df_female.loc[:,"Math"])

Ttest_indResult(statistic=-0.18877452544527282, pvalue=0.85033358544687)

### Q4. 1학년과 3학년의 영어 점수의 차이를 확인하기 위해 독립 2표본 t검정을 실시하고 그 결과를 확인하시오.

In [6]:
df_1_grade = df.loc[df["grade"] == 1, :]
df_3_grade = df.loc[df["grade"] == 3, :]
stats.ttest_ind(df_1_grade.loc[:,"English"], df_3_grade.loc[:,"English"])

Ttest_indResult(statistic=-0.3449906010270166, pvalue=0.730283678006105)

### Q5. 2학년과 3학년 중 50점 이상인 학생들만 따로 뽑아서 과학 점수의 차이를 확인해보려 한다. 독립 2표본 t검정을 실시하고 그 결과를 확인하시오.

In [15]:
df_2_grade_up = df.loc[(df["grade"] == 2) & (df["Science"] >= 50), :]
df_3_grade_up = df.loc[(df["grade"] == 3) & (df["Science"] >= 50), :]
stats.ttest_ind(df_2_grade_up.loc[:,"Science"], df_3_grade_up.loc[:,"Science"])

Ttest_indResult(statistic=0.760046357802349, pvalue=0.44789001898983516)