# 다음 문제를 풀이하시오

### Q1. Pandas, Scipy의 stats 모듈을 불러오시오.

In [1]:
import pandas as pd
import scipy.stats as stats

### Q2. "bike.csv" 파일을 불러와서 df 객체에 저장하시오.

In [13]:
df = pd.read_csv("../data/bike.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

### Q3. "season" 이 2인 "registered" 값 전체를 reg_s2 객체에 저장하시오.

In [10]:
reg_s2 = df.loc[df["season"] == 2, ["registered"]]
reg_s2

      registered
1323           6
1324           4
1325           7
1326           4
1327           3
...          ...
8146         432
8147         399
8148         239
8149         240
8150         102

[2733 rows x 1 columns]

### Q4. "season" 이 4인 "registered" 값 전체를 reg_s4 객체에 저장하시오.

In [11]:
reg_s4 = df.loc[df["season"] == 4, ["registered"]]
reg_s4

       registered
4055          106
4056           47
4057           46
4058           17
4059            6
...           ...
10881         329
10882         231
10883         164
10884         117
10885          84

[2734 rows x 1 columns]

### Q5. reg_s2 객체와 reg_s4 객체를 독립 2표본 t검정을 실시하고 그 결과를 확인하시오.

In [12]:
stats.ttest_ind(reg_s2["registered"], reg_s4 ["registered"])

Ttest_indResult(statistic=-0.6188434510636714, pvalue=0.5360452879439642)