# 다음 문제를 풀이하시오

### Q1. Pandas, statsmodels 모듈을 불러오시오.

In [14]:
import pandas as pd
from statsmodels.stats.anova import anova_lm

import statsmodels as sm

### Q2. "diamonds.csv" 파일을 읽어와서 dia 객체에 저장하시오.

In [5]:
dia = pd.read_csv("../data/diamonds.csv")
dia.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### Q3. 다이아몬드 세공 수준별 가격 평균을 구하시오.

In [7]:
dia.groupby(["cut"]).agg(["mean"])["price"]

                  mean
cut
Fair       4358.757764
Good       3928.864452
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

### Q4. 다이아몬드 세공 수준에 따른 가격의 차이가 있는지 일원분산분석을 실시하고 그 결과를 확인하시오.

In [15]:
lm = ols("price ~ C(cut)", dia).fit()
anova_lm(lm)

               df        sum_sq       mean_sq           F         PR(>F)
C(cut)        4.0  1.104175e+10  2.760436e+09  175.688717  8.428307e-150
Residual  53935.0  8.474314e+11  1.571209e+07         NaN            NaN