# 다음 퀴즈를 수행하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [2]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [24]:
df = pd.read_csv('rating_chocobar.csv')
type(df)

pandas.core.frame.DataFrame

### Q3. df의 첫 3개 row를 출력하시오

In [26]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [27]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [29]:
df.ndim

2

### Q6. df의 row 개수를 확인하시오

In [37]:
#len(df)
df.shape[0]

1795

### Q7. df의 column 개수를 확인하시오

In [38]:
#len(df.columns)
df.shape[1]

9

### Q8. df의 column 이름을 확인하시오

In [45]:
df.columns

Index(['aa', 'Specific_Bean_Origin_or_Bar_Name', 'REF', 'Review_Date',
       'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type',
       'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [49]:
# df = df.rename({df.columns[0]: "aa"}, axis="columns")
df = df.rename(columns={df.columns[0]: "aa"})
df

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [42]:
df_sub1 = df.iloc[[0,3,9],:]
df_sub1

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [1]:
df_sub2 = df[df.index % 2 == 0]
df_sub2

NameError: name 'df' is not defined

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

In [48]:
df_sub = pd.concat([df_sub1, df_sub2])
df_sub

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin,aa
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome,NaN
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo,NaN
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru,NaN
0,NaN,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome,A. Morin
2,NaN,Atsane,1676,2015,70%,France,3.00,NaN,Togo,A. Morin
...,...,...,...,...,...,...,...,...,...,...
1786,NaN,El Ceibo Coop,879,2012,90%,Austria,3.25,NaN,Bolivia,Zotter
1788,NaN,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo,Zotter
1790,NaN,Peru,647,2011,70%,Austria,3.75,NaN,Peru,Zotter
1792,NaN,Kerala State,749,2011,65%,Austria,3.50,Forastero,India,Zotter
1794,NaN,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil,Zotter

### Q13. df_sub를 "day1_quiz.csv"로 저장하시오.

In [22]:
df_sub.to_csv("day1_quiz.csv")