In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats.stats import pearsonr
from scipy.stats.stats import kendalltau
from scipy.stats.stats import spearmanr

df = pd.read_excel("../data/iris_xlsx.xlsx")
# df = pd.read_csv("../data/iris_xlsx.csv")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
stat, p = stats.ttest_1samp(df["Sepal.Length"], popmean = 5.9)
print(round(stat, 5), round(p, 5))

-0.83812 0.4033

In [3]:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [4]:
print(np.round(stats.ttest_ind(df["Sepal.Length"], df["Sepal.Width"], equal_var=True), 3))

print(np.round(stats.ttest_rel(df["Sepal.Length"], df["Sepal.Width"]), 3))

[36.463  0.   ]
[34.815  0.   ]

In [5]:
import pandas as pd
from scipy.stats import f_oneway
df = pd.read_excel("../data/iris_xlsx.xlsx")
f_oneway(df["Sepal.Length"], df["Sepal.Width"], df["Petal.Length"])

F_onewayResult(statistic=236.75163298404746, pvalue=7.657188374182084e-71)

In [6]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

df = pd.read_csv("../data/diamonds.csv")
print(df.head())
print()
formula = "price ~ C(cut)"
lm = ols(formula, df).fit()
print(anova_lm(lm))

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

               df        sum_sq       mean_sq           F         PR(>F)
C(cut)        4.0  1.104175e+10  2.760436e+09  175.688717  8.428307e-150
Residual  53935.0  8.474314e+11  1.571209e+07         NaN            NaN

In [ ]:
bike = pd.read_csv("../data/bike.csv")

print(bike.head())
print()

formula1 = "casual ~ season"
formula2 = "casual ~ C(season)"

lm1 = ols(formula1, bike).fit()
lm2 = ols(formula2, bike).fit()
print(anova_lm(lm1))
print()
print(anova_lm(lm2))

In [ ]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

df = pd.read_csv("../data/diamonds.csv")

print(df.head())
print()

posthoc = pairwise_tukeyhsd(df["price"], df["cut"])
print(posthoc)

In [ ]:
from scipy.stats import bartlett

print(bartlett(df.loc[df["cut"] == "Good", "price"], 
              df.loc[df["cut"] == "Ideal", "price"], 
              df.loc[df["cut"] == "Premium", "price"]))

In [ ]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose
# from matplotlib import pyplot
# import matplotlib.pyplot as plt

df = pd.read_csv("../data/AWS_sample.txt", sep = "#")
print()

df = df.loc[df["AWS_ID"] == 108, :]
df['TM'] = pd.to_datetime(df['TM'])
df = df.set_index('TM')
df

In [ ]:
series = df["TA"]
result = seasonal_decompose(series, model='additive')
result.plot()

In [ ]:
print('dddd')